:root{
    /* variables */
    --white: #FFF;
    --black: #000;
    --font-blue: #038cfc;
    --font-color-base: #666;
    --font-color-dark: #212529;
    --footer: #1e2f5e;

    --size-10: 0.625rem;
    --size-14: 0.875rem;
    --size-15: 0.9375rem;
    --size-16: 1rem;
    --size-18: 1.125rem;
    --size-20: 1.25rem;
    --size-30: 1.875rem;
    --size-40: 2.5rem;
    --size-50: 3.125rem;
    --size-100: 6.25rem;
    --size-150: 9.375rem;
}

html{scroll-behavior: smooth;}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: var(--size-20);
    line-height: 1.6;
    letter-spacing: 0;
    color: var(--font-color-base);
    margin: 0;
    padding: 0;
}

*,
::after,
::before{
    box-sizing: border-box;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{text-decoration: none;}
p{margin-top: 0;}

h2{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

img{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.container{
    width: 100%;
    padding-left: var(--size-15);
    padding-right: var(--size-15);
    margin-left: auto;
    margin-right: auto;
}

.btn{
    display: inline-block;
    font-weight: 400;
    color: var(--white);
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: var(--font-blue);
    border: 1px solid transparent;
    padding: 0.5375rem 1.75rem;
    border-radius: var(--size-30);
    transition: ease-in-out 0.3s;    
}
.btn-primary{
    padding: 0.4375rem 1.5625rem;
}


/* @media (min-width: 768px){
    .pricing-table,
    .footer-bottom-wrapper,
    .testimonial-grid{max-width: 720px; }
}

@media (min-width: 1200px){
    .container{max-width: 1140; }
}

@media (min-width: 992){
    footer .container{max-width: 960;}
} */
